*{
    margin: 0;
    padding: 0;
}
#header{
    width: 700px;
    height: auto;
    margin: auto;
    background-color: rgb(237, 244, 237);
    padding: 20px;
}

table, td{
    padding: 10px;
}
#reset-buttom{
    padding: 10px 25px 10px 25px;
    background-color: rgb(238, 76, 76);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 7px;
    border: none;
}
#submit-buttom{
    padding: 10px 25px 10px 25px;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 7px;
    border: none;
}